<% if !@line_item.nil? && @line_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @line_items.size == 0 %>
  <p class="text-center">
    There are no items in your cart! Head over to <%= link_to "the main page", root_path %> to add some.
  </p>
<% else %>
  <% @line_items.each do |line_item| %>
    <%= render 'carts/cart_row', product: line_item.product, line_item: line_item, show_total: true %>
  <% end %>
<% end %>
