<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      <%= product.name %>
    </h4>
  </div>
  <p>
    Price: <%= product.price %>
  </p>
  <p>
    Colour: <%= product.colour.name %>
  </p>
  <p>
    Material: <%= product.material.name %>
  </div>
</div>
